.slide6 {
  background-color: white;
  display: flex;
  flex: 10;
  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242526;
    transition: all 0.33s ease;
    padding: 40px;

    &:hover {
      background-color: #242526;
      color: white;
    }

    h1 {
      font-family: "Pushster", cursive;
      font-size: 70px;

      span {
        font-family: "Pushster", cursive;
        font-size: 120px;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: all 0.33s ease;
    color: white;
    background-color: #242526;

    &:hover {
      background-color: white;
      color: #242526;
    }

    h1 {
      font-family: "Pushster", cursive;
      font-size: 70px;

      span {
        font-family: "Pushster", cursive;
        font-size: 120px;
      }
    }
  }
}
